 .Messagebox{
	position: fixed;
	bottom: 15%;
	left: 79%;
	width: 20%;
	height: 300px;
}

.Off{
	display: none;
}
input{
	width: 100%;
}

textarea{
	font-family: Droid-serif;
	height: 300px;
	width: 99.5%;
}

.Messagebox button{
	position: relative;
	left: 48%;

}
.Submit{
	margin-top: 0px;
	background-color: #ededed;
	border: 1px solid black;
}