 .Messagebox{
	position: fixed;
	bottom: 15%;
	right: 30px;
	width: 300px;
	height: 300px;
}

.Off{
	display: none;
}
input{
	width: 300px;
}

textarea{
	font-family: Droid-serif;
	height: 300px;
	width: 298px;
}

.Messagebox button{
	position: relative;
	margin: 3px;
	left: 138px;

}
.Submit{
	margin-top: 0px;
	background-color: #ededed;
	border: 1px solid black;
}