.Team{
	font-size: 14.5px;
	display: flex;
	padding: 5px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 500px;
	border: 1px solid lightgrey;
	height: 100px;
	background-color: #F5F5DC;
}

.Information{
	flex: 1;
	position: relative;
	bottom: 17px;
	left: 10px;
}

.Team button{
	height: 40px;
	width: 80px;
	position: relative;
	background-color: #ededed;
	border-radius: 4px;
}

.Team h2{
	color: black;
	font-size: 22px;
}

.clickable:hover{
	cursor: pointer;
	color: darkblue;
}
